.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e6e6e6;
  text-align: center;
  padding: 1rem;
  & i {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
}
